<nav class="bg-white px-8 pt-2 shadow-md">
    <div class="-mb-px flex items-center">
        
        <span class="no-underline flex border-0 mr-10 p-0 items-center">
        <img src="../../../assets/logos.svg"   class="w-10 border-0 p-0" alt=""><p class="logoText p-0 font-bold">eCart</p> 
        </span>
        <a class="no-underline text-gray-300 hover:text-gray-500 border-b-2 border-transparent uppercase tracking-wide font-bold text-xs py-3 mr-8" routerLink="/products" routerLinkActive="active">
            Home
        </a>
        <a class="no-underline text-gray-300 hover:text-gray-500 transition-all border-b-2 border-transparent uppercase tracking-wide font-bold text-xs py-3 mr-8" routerLink="../cart" routerLinkActive="active">
            cart
        </a>
        <div class="ml-auto">
            <p class="no-underline inline ui-button-text-only  uppercase  font-bold text-xs py-0 mr-2" title="{{user.email}} | {{user.role}}">
                {{user.name}}
            </p>
            <button class="no-underline text-blue-400   transition-all hover:text-red-500 border-blue-400  hover:border-red-400 uppercase tracking-wide font-bold text-xs p-1" (click)="logout()" >
                logout
            </button>
        </div>
      
    </div>
</nav>