.fix-width{
    width: 3ch;
    outline: none;
    text-align: center;
}
.error {
    position: absolute;
    bottom: -1em;
    /* min-height: 25px; */
    text-align: center;
    background: #ec3434;
    color: #fee;
    width: 100%;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    left: 0;
font-size: 0.8em;
    font-weight: 700;
    padding: 0.2em;
}
.errorShow{
    opacity: 1;
    transform: translate(0em,-1em);
}


/* hide arrows for number input */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */